<footer>
  <div fxLayoutGap="30px">
    <!-- Facebook -->
    <i class="icon icon-bike" style="--size: 150px">
      <a target="_blank" href="http://www.fb.com">
        <span class="icon icon-fb"></span> </a
    ></i>
    <!--Pinterest-->
    <a class="pin-ic" target="_blank" href="http://www.pinterest.com">
      <span class="icon icon-p"></span>
    </a>
    <!--Instagram-->
    <a class="ins-ins" target="_blank" href="http://www.instagram.com">
      <span class="icon icon-fb"></span>
    </a>
  </div>
</footer>
