.fb-ic:hover {
  color: red;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.icon-fb {
  background-image: url(../../assets/images/icon-facebook.svg);
}

.icon-fb:hover,
.icon-fb:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(318deg) brightness(104%) contrast(97%);
}

.icon-p {
  background-image: url(../../assets/images/icon-pinterest.svg);
}

.icon-p:hover,
.icon-p:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(318deg) brightness(104%) contrast(97%);
}

.icon-ins {
  background-image: url(../../assets/images/icon-instagram.svg);
}

.icon-ins:hover,
.icon-ins:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(318deg) brightness(104%) contrast(97%);
}





footer {
  background: url(../../assets/images/pattern-hills.svg);
  position: fixed;
  bottom: 0px;
  z-index: 100;
  width: 100vw;
  height: 158px;
}

footer .socialNetworks {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

footer .socialNetworks i {
  margin: 20px;
  cursor: pointer;
  color: #5c5a72;
}

@media screen and (min-width: 200px) {
  footer {
    background: url(../../assets/images/pattern-hills.svg);
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 107vw;
    height: 166px;
  }
}


@media screen and (min-width: 300px) {
  footer {
    background: url(../../assets/images/pattern-hills.svg);
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 115vw;
    height: 166px;
  }
}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2)
  {
  /*IPhone 5 only CSS here*/
  footer {
    background: url(../../assets/images/pattern-hills.svg);
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 115vw;
    height: 166px;
  }
}
