* {
    background-image: url(../assets//images/bg-stars.svg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "RedHatDisplay-Black";
    // font-size: 20px;
  }