.toUpper {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}


.mainStyle {
    text-align: center;
    margin-top: 60px;
  }
  .mainStyle .timeBlock {
    display: flex;
    flex-direction: timeBlock;
    justify-content: space-evenly;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .mainStyle .timeBlock div.runDiv {
    background-image: -webkit-linear-gradient(90deg, #5a5665 50%, #574765 50%);
    color: #cc5674;
    padding: 5px;
    border-radius: 5px;
    min-width: 60px;
    width: 125px;
    font-size: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 0px #1a1a24;
  }
  .mainStyle .timeBlock div.varient {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: 5px;
    color: #5c5a72;
  }
  
  
  @media screen and (max-width: 620px){
    .mainStyle .timeBlock {
      width: 100%;
      margin-top: 60px;
   }
    .mainStyle .timeBlock div.runDiv {
      width: 65px;
      height: 60px;
      font-size: 30px;
      box-shadow: 0px 5px 0px #1a1a24;
   }
    .mainStyle .timeBlock div.cardLvarientabel {
      font-size: 9px;
      letter-spacing: 2px;
   }
  }

  @media screen and (max-width: 200px){
    .mainStyle .timeBlock {
      width: 100%;
      margin-top: 60px;
   }
    .mainStyle .timeBlock div.runDiv {
      width: 45px;
      height: 40px;
      font-size: 15px;
      box-shadow: 0px 5px 0px #1a1a24;
   }
    .mainStyle .timeBlock div.varient {
      font-size: 5px;
      letter-spacing: 2px;
   }
  }

  @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2)
  {
  /*IPhone 5 only CSS here*/
  .mainStyle .timeBlock {
    width: 90%;
    margin-top: 60px;
 }
  .mainStyle .timeBlock div.runDiv {
    width: 45px;
    height: 40px;
    font-size: 15px;
    box-shadow: 0px 5px 0px #1a1a24;
 }
  .mainStyle .timeBlock div.varient {
    font-size: 5px;
    letter-spacing: 2px;
 }
}

  