<div class="mainStyle" style="flex-wrap: wrap;" ><br/>
  <h3 class="toUpper"  fxLayoutAlign="center center">{{ launchName }}</h3>

  <div fxLayout="row" fxLayoutAlign="center center" class='timeBlock' fxLayoutGap="20px">
    <div class="time">
      <div id="days" class="runDiv"><div class="run"> {{ daysToDday }}</div> </div>
      <div class="varient" >DAYS</div>
    </div>
    <div class="time">
      <div id="hours" class="runDiv"><div class="run"> {{ hoursToDday }}</div> </div> 
      <div class="varient" > HOURS</div>
    </div>
    <div class="time">
      <div id="minutes" class="runDiv"><div class="run">{{ minutesToDday }}</div>  </div>
      <div class="varient" >MINUTES</div>
    </div>
    <div class="time">
      <div id="seconds" class="runDiv"><div class="run"> {{ secondsToDday }}</div> </div>
      <div class="varient" >SECONDS</div>
    </div>
  </div>
</div>
