<div class="backStyle">
  <div fxLayout="row" fxLayoutAlign="end">
      <app-header></app-header></div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutGap="10px">
        <app-countdown></app-countdown>
      </div>
    </div>
    <div>
      <img
        src="../assets/images/pattern-hills.svg"
        
        class="footerImage"
      />
      <div fxLayout="row" fxLayoutAlign="center center">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  